{% extends "SMMICoursBundle::layout.html.twig" %}

{% block smmicours_liste %}
    <div class="object">
        <p>Cours disponibles</p>
        <div class="object-content course-list">
            <div class="bloc course-item">
                <a href="pagecour.html">
                    <span>Maths</span>
                </a>
                <div class="progression-bar">
                    <div style="width: 80%;" class="completion">
                    </div>
                </div>
            </div>
            <div class="bloc course-item">
                <a href="pagecour.html">
                    <span>Maths</span>
                </a>
                <div class="progression-bar">
                    <div style="width: 80%;" class="completion">
                    </div>
                </div>
            </div>
            <div class="bloc course-item">
                <a href="pagecour.html">
                    <span>Maths</span>
                </a>
                <div class="progression-bar">
                    <div style="width: 80%;" class="completion">
                    </div>
                </div>
            </div>
            <div class="bloc course-item">
                <a href="pagecour.html">
                    <span>Maths</span>
                </a>
                <div class="progression-bar">
                    <div style="width: 80%;" class="completion">
                    </div>
                </div>
            </div>
            <div class="bloc course-item">
                <a href="pagecour.html">
                    <span>Maths</span>
                </a>
                <div class="progression-bar">
                    <div style="width: 80%;" class="completion">
                    </div>
                </div>
            </div>
            <div class="bloc course-item">
                <a href="pagecour.html">
                    <span>Maths</span>
                </a>
                <div class="progression-bar">
                    <div style="width: 80%;" class="completion">
                    </div>
                </div>
            </div>
            <div class="bloc course-item">
                <a href="pagecour.html">
                    <span>Maths</span>
                </a>
                <div class="progression-bar">
                    <div style="width: 80%;" class="completion">
                    </div>
                </div>
            </div>
            <div class="bloc course-item">
                <a href="pagecour.html">
                    <span>Maths</span>
                </a>
                <div class="progression-bar">
                    <div style="width: 80%;" class="completion">
                    </div>
                </div>
            </div>
            <div class="bloc course-item">
                <a href="pagecour.html">
                    <span>Maths</span>
                </a>
                <div class="progression-bar">
                    <div style="width: 80%;" class="completion">
                    </div>
                </div>
            </div>
            <div class="bloc course-item">
                <a href="pagecour.html">
                    <span>Maths</span>
                </a>
                <div class="progression-bar">
                    <div style="width: 80%;" class="completion">
                    </div>
                </div>
            </div>
            <div class="bloc course-item">
                <a href="pagecour.html">
                    <span>Maths</span>
                </a>
                <div class="progression-bar">
                    <div style="width: 80%;" class="completion">
                    </div>
                </div>
            </div>
        </div>
        <div id="loadMore"><span>Plus de cours</span></div>
    </div>
{% endblock %}
