{# src/SMMI/TestBundle/Resources/views/Advert/index.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
  Margot
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  {% block div %}
  <h1>Margot</h1>

  <hr>
  {% endblock %}

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block ocplatform_body %}
  {% endblock %}

{% endblock %}
