{% extends "SMMIExercicesBundle::layout.html.twig" %}

{% block smmiexercices_liste %}
    <div class="object-quizz">
        <span>EXERCICES/ANGLAIS</span>

        <h1>QUIZZ</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo dolor cupiditate fugiat aspernatur nisi, itaque! Maiores ipsam expedita, omnis vero labore aut minima illum quo amet provident rem beatae, adipisci.</p></br>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>
        <label for="test" class="checkbox"><input type="checkbox" id="test"><span class="case"></span> Réponse 1 </label></br>
        <label for="test1" class="checkbox"><input type="checkbox" id="test1"><span class="case"></span> Réponse 2 </label></br>
        <label for="test2" class="checkbox"><input type="checkbox" id="test2"><span class="case"></span> Réponse 3 </label></br>
        <label for="test3" class="checkbox"><input type="checkbox" id="test3"><span class="case"></span> Réponse 4 </label>
    </div>
{% endblock %}
