<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Sphere MMI | Connexion</title>
        <link rel="icon" type="image/png" href="images/logo.png" />
        <link rel="stylesheet" href="{{ asset('bundles/public/css/normalize.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/public/css/style.css') }}" type="text/css" />
    </head>
    <body class="connexion">
        <!--<div>

        </div>-->

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="connexion-box">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
        {% block javascript %}
        {% endblock javascript %}
    </body>
</html>
