{% extends "SMMIUsersBundle::layout.html.twig" %}

{% block smmiusers_profil %}
    <div class="object">
        <div class="half-width">
            <p>Profil</p>
            <div class="object-content profil">
                <div class="user-profil">
                    <h2>John Doe</h2>
                    <p>Professeur Mmi</p>
                </div>
                <div class="user-details">
                    <strong>Informations complémentaires</strong>
                    <p>jane.doe@univ-reims.fr <br>
                        ********
                    </p>
                    <ul>
                        <li><a href="#"><span>Cours & Exercices</span></a></li>
                        <li><a href="#"><span>Modifier</span></a></li>
                        <li><a href="#"><span>Deconnexion</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block smmiindex_dernierscours %}
    <div class="object">
        <p>Dernier cours publiés</p>
        <div class="object-content">
            <div class="bloc">
                <a href="#">
                    <span>Maths</span>
                </a>
            </div>
            <div class="bloc">
                <a href="#">
                    <span>Maths</span>
                </a>
            </div>
            <div class="bloc">
                <a href="#">
                    <span>Maths</span>
                </a>
            </div>
            <div class="bloc">
                <a href="#">
                    <span>Maths</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
