/* line 21, ../node_modules/susy/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 52, ../sass/style.scss */
html {
  font-size: 16px;
}
@media screen and (max-width: 1024px) {
  /* line 52, ../sass/style.scss */
  html {
    font-size: 12px;
  }
}

/* line 58, ../sass/style.scss */
* {
  font-family: 'Open Sans', sans-serif;
}

/* line 61, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 65, ../sass/style.scss */
body.connexion {
  font-size: 12px;
  font-size: 0.75rem;
  position: relative;
  width: 100%;
  height: 100vh;
}
/* line 70, ../sass/style.scss */
body.connexion .connexion-box {
  color: white;
  position: absolute;
  width: 480px;
  height: 480px;
  padding: 100px 80px;
  background: url(../images/connexion-bg.jpg) no-repeat 50%/cover;
  opacity: 0;
  top: 0%;
  left: 50%;
  -moz-transition: top 1s ease, opacity 1s ease-in-out;
  -o-transition: top 1s ease, opacity 1s ease-in-out;
  -webkit-transition: top 1s ease, opacity 1s ease-in-out;
  transition: top 1s ease, opacity 1s ease-in-out;
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
/* line 84, ../sass/style.scss */
body.connexion .connexion-box span {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
}
/* line 91, ../sass/style.scss */
body.connexion .connexion-box form input {
  font-family: 'Merriweather', serif;
  color: #2a2a2a;
  padding: 6px;
  margin-top: 20px;
  background-color: white;
  outline: 0;
  height: 40px;
  width: 100%;
  border: 1px solid white;
}
/* line 101, ../sass/style.scss */
body.connexion .connexion-box form input:first-child {
  margin-top: 30px;
}
/* line 104, ../sass/style.scss */
body.connexion .connexion-box form input:focus {
  border-width: 2px;
}
/* line 108, ../sass/style.scss */
body.connexion .connexion-box form button {
  display: block;
  margin-top: 40px;
  width: 140px;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  background-color: transparent;
  outline: 0;
  height: 40px;
  border: 1px solid white;
  font-weight: bold;
}
/* line 120, ../sass/style.scss */
body.connexion .connexion-box form button:hover {
  background-color: white;
  color: #843c3c;
}
/* line 126, ../sass/style.scss */
body.connexion .connexion-box a {
  text-decoration: underline;
  text-align: center;
  display: block;
  color: inherit;
  margin-top: 3px;
}
/* line 132, ../sass/style.scss */
body.connexion .connexion-box a:first-of-type {
  margin-top: 40px;
}

/* line 140, ../sass/style.scss */
.open {
  float: right;
  height: 100%;
  width: 60px;
  cursor: pointer;
}

/* line 146, ../sass/style.scss */
.open, .close {
  padding: 16px;
}
/* line 148, ../sass/style.scss */
.open img, .close img {
  width: 100%;
  height: 100%;
}

/* line 153, ../sass/style.scss */
.navbar-fixed {
  position: fixed;
  top: 0px;
}
@media screen and (min-width: 1280px) {
  /* line 153, ../sass/style.scss */
  .navbar-fixed {
    width: 1280px;
    left: calc(-(100vw - 1280px)/2);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  /* line 153, ../sass/style.scss */
  .navbar-fixed {
    width: 1024px;
    left: calc(-(100vw - 1024px)/2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 153, ../sass/style.scss */
  .navbar-fixed {
    width: 768px;
    left: calc(-(100vw - 768px)/2);
  }
}
@media screen and (max-width: 768px) {
  /* line 153, ../sass/style.scss */
  .navbar-fixed {
    width: 100%;
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  /* line 175, ../sass/style.scss */
  .main-navbar ul {
    display: none;
  }
  /* line 178, ../sass/style.scss */
  .main-navbar .open {
    display: inline-block;
  }
}

/* line 183, ../sass/style.scss */
body {
  background-color: #3d3d3d;
  min-width: 400px;
}

@media screen and (min-width: 1280px) {
  /* line 187, ../sass/style.scss */
  .wrapper, footer {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../node_modules/susy/sass/susy/output/support/_clearfix.scss */
  .wrapper:after, footer:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 65, ../node_modules/susy/sass/susy/language/susy/_background.scss */
  head {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 999;
    color: #333;
    background: rgba(255, 255, 255, 0.25);
  }
  /* line 66, ../node_modules/susy/sass/susy/language/susy/_background.scss */
  head:before {
    content: "|||";
    display: block;
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
  }
  /* line 67, ../node_modules/susy/sass/susy/language/susy/_background.scss */
  head:hover {
    background: rgba(255, 255, 255, 0.5);
    color: red;
  }
  /* line 71, ../node_modules/susy/sass/susy/language/susy/_background.scss */
  head:hover ~ .wrapper, head:hover ~ body .wrapper, head:hover ~ footer, head:hover ~ body footer {
    position: relative;
  }
  /* line 74, ../node_modules/susy/sass/susy/language/susy/_background.scss */
  head:hover ~ .wrapper:before, head:hover ~ body .wrapper:before, head:hover ~ footer:before, head:hover ~ body footer:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: " ";
    z-index: 998;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2NmY2ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YxYjBiMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e66f6f), color-stop(100%, #f1b0b0));
    background-image: -moz-linear-gradient(left, #e66f6f, #f1b0b0);
    background-image: -webkit-linear-gradient(left, #e66f6f, #f1b0b0);
    background-image: linear-gradient(to right, #e66f6f, #f1b0b0);
    background-size: 8.33333%;
    background-origin: content-box;
    background-clip: content-box;
    background-position: left top;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  /* line 187, ../sass/style.scss */
  .wrapper, footer {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../node_modules/susy/sass/susy/output/support/_clearfix.scss */
  .wrapper:after, footer:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 71, ../node_modules/susy/sass/susy/language/susy/_background.scss */
  head:hover ~ .wrapper, head:hover ~ body .wrapper, head:hover ~ footer, head:hover ~ body footer {
    position: relative;
  }
  /* line 74, ../node_modules/susy/sass/susy/language/susy/_background.scss */
  head:hover ~ .wrapper:before, head:hover ~ body .wrapper:before, head:hover ~ footer:before, head:hover ~ body footer:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: " ";
    z-index: 998;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2NmY2ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YxYjBiMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e66f6f), color-stop(100%, #f1b0b0));
    background-image: -moz-linear-gradient(left, #e66f6f, #f1b0b0);
    background-image: -webkit-linear-gradient(left, #e66f6f, #f1b0b0);
    background-image: linear-gradient(to right, #e66f6f, #f1b0b0);
    background-size: 8.33333%;
    background-origin: content-box;
    background-clip: content-box;
    background-position: left top;
  }
}
@media screen and (max-width: 1024px) {
  /* line 187, ../sass/style.scss */
  .wrapper, footer {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../node_modules/susy/sass/susy/output/support/_clearfix.scss */
  .wrapper:after, footer:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 71, ../node_modules/susy/sass/susy/language/susy/_background.scss */
  head:hover ~ .wrapper, head:hover ~ body .wrapper, head:hover ~ footer, head:hover ~ body footer {
    position: relative;
  }
  /* line 74, ../node_modules/susy/sass/susy/language/susy/_background.scss */
  head:hover ~ .wrapper:before, head:hover ~ body .wrapper:before, head:hover ~ footer:before, head:hover ~ body footer:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: " ";
    z-index: 998;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2NmY2ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YxYjBiMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e66f6f), color-stop(100%, #f1b0b0));
    background-image: -moz-linear-gradient(left, #e66f6f, #f1b0b0);
    background-image: -webkit-linear-gradient(left, #e66f6f, #f1b0b0);
    background-image: linear-gradient(to right, #e66f6f, #f1b0b0);
    background-size: 8.33333%;
    background-origin: content-box;
    background-clip: content-box;
    background-position: left top;
  }
}

/* line 198, ../sass/style.scss */
.responsive-menu {
  display: none;
  font-size: 24px;
  font-size: 1.5rem;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  z-index: 9999;
}
/* line 206, ../sass/style.scss */
.responsive-menu .responsive-navbar {
  height: 100%;
  width: 300px;
  position: absolute;
  right: -300px;
  top: 0;
  background-color: white;
  -moz-transition: right, 1s, ease;
  -o-transition: right, 1s, ease;
  -webkit-transition: right, 1s, ease;
  transition: right, 1s, ease;
}
/* line 207, ../sass/style.scss */
.responsive-menu .responsive-navbar .close {
  height: 60px;
  width: 60px;
  float: right;
  clear: both;
  margin-right: 20px;
  cursor: pointer;
}
/* line 224, ../sass/style.scss */
.responsive-menu .responsive-navbar ul.menu li a {
  display: block;
  line-height: 60px;
  color: #2a2a2a;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 230, ../sass/style.scss */
.responsive-menu .responsive-navbar ul.menu li a:hover {
  background-color: #c1c1c1;
}
/* line 237, ../sass/style.scss */
.responsive-menu .responsive-navbar ul.social li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  display: inline;
  text-align: center;
  height: 100%;
}
/* line 242, ../sass/style.scss */
.responsive-menu .responsive-navbar ul.social li a {
  display: block;
  width: 100%;
  height: 75px;
  line-height: 60px;
}
/* line 247, ../sass/style.scss */
.responsive-menu .responsive-navbar ul.social li a:hover {
  background-color: #c1c1c1;
}
/* line 253, ../sass/style.scss */
.responsive-menu .responsive-navbar ul.profil {
  font-size: 14px;
  font-size: 0.875rem;
  border-right: 1px solid #c1c1c1;
}
/* line 256, ../sass/style.scss */
.responsive-menu .responsive-navbar ul.profil li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 10%;
  padding-right: 10%;
  height: 100%;
  display: inline;
  line-height: 58px;
}
/* line 261, ../sass/style.scss */
.responsive-menu .responsive-navbar ul.profil li a {
  color: #2a2a2a;
  display: inline-block;
  background-color: transparent;
  outline: 0;
  height: 40px;
  width: 100%;
  border: 1px solid #2a2a2a;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  font-weight: 700;
}
/* line 273, ../sass/style.scss */
.responsive-menu .responsive-navbar ul.profil li a:hover {
  color: white;
  background-color: #2a2a2a;
}
/* line 280, ../sass/style.scss */
.responsive-menu .responsive-navbar ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
}
/* line 285, ../sass/style.scss */
.responsive-menu .responsive-navbar ul li {
  list-style: none;
}
/* line 287, ../sass/style.scss */
.responsive-menu .responsive-navbar ul li a {
  text-align: center;
}

/* line 294, ../sass/style.scss */
header {
  background-color: #FF8144;
  height: 240px;
  position: relative;
  padding: 0;
}
/* line 299, ../sass/style.scss */
header .banner {
  height: 180px;
  background: url(../images/banner.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
/* line 305, ../sass/style.scss */
header nav {
  font-size: 24px;
  font-size: 1.5rem;
  height: 60px;
  background-color: #FFF;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  z-index: 9998;
}
/* line 312, ../sass/style.scss */
header nav .open {
  display: none;
}
/* line 315, ../sass/style.scss */
header nav ul {
  height: 100%;
  margin: 0;
  padding: 0px;
  text-decoration: none;
}
/* line 321, ../sass/style.scss */
header nav ul.menu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 60%;
  float: left;
  border-right: 1px solid #c1c1c1;
}
/* line 324, ../sass/style.scss */
header nav ul.menu li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  height: 100%;
  display: inline;
  text-align: center;
  border-left: 1px solid #c1c1c1;
}
/* line 330, ../sass/style.scss */
header nav ul.menu li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 58px;
  color: #2a2a2a;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 338, ../sass/style.scss */
header nav ul.menu li a:hover {
  background-color: #c1c1c1;
}
/* line 344, ../sass/style.scss */
header nav ul.social {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  float: left;
}
/* line 346, ../sass/style.scss */
header nav ul.social li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  display: inline;
  text-align: center;
  height: 100%;
}
/* line 351, ../sass/style.scss */
header nav ul.social li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
}
/* line 356, ../sass/style.scss */
header nav ul.social li a:hover {
  background-color: #c1c1c1;
}
/* line 362, ../sass/style.scss */
header nav ul.profil {
  font-size: 14px;
  font-size: 0.875rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  float: left;
  padding-left: 2%;
  padding-right: 2%;
  border-right: 1px solid #c1c1c1;
}
/* line 366, ../sass/style.scss */
header nav ul.profil li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 10%;
  padding-right: 10%;
  height: 100%;
  display: inline;
  line-height: 58px;
}
/* line 371, ../sass/style.scss */
header nav ul.profil li a {
  color: #2a2a2a;
  display: inline-block;
  background-color: transparent;
  outline: 0;
  height: 40px;
  width: 100%;
  border: 1px solid #2a2a2a;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  font-weight: 700;
}
/* line 383, ../sass/style.scss */
header nav ul.profil li a:hover {
  color: white;
  background-color: #2a2a2a;
}

/* line 392, ../sass/style.scss */
.question p {
  font-size: 10px;
  font-size: 0.625rem;
  text-decoration: none;
}

/* line 397, ../sass/style.scss */
.container .object-quizz {
  display: inline-block;
  padding: 40px;
  width: 100%;
  background-color: #FFF;
  margin-top: 40px;
}
/* line 403, ../sass/style.scss */
.container .object-quizz:first-child {
  margin-top: 0px;
}
/* line 406, ../sass/style.scss */
.container .object-quizz span {
  font-size: 18px;
  font-size: 1.125rem;
  margin: 0;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 700;
  color: #ff8040;
}
/* line 414, ../sass/style.scss */
.container .object-quizz h1, .container .object-quizz h2 {
  font-size: 24px;
  font-size: 1.5rem;
}
/* line 417, ../sass/style.scss */
.container .object-quizz p {
  font-size: 16px;
  font-size: 1rem;
}
/* line 422, ../sass/style.scss */
.container .object-chapter .chapter {
  margin-bottom: 40px;
}
/* line 424, ../sass/style.scss */
.container .object-chapter .chapter:last-child {
  margin-bottom: 0px;
}
/* line 428, ../sass/style.scss */
.container .object-chapter span {
  font-size: 18px;
  font-size: 1.125rem;
  margin: 0;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 700;
  color: #ff8040;
}
/* line 436, ../sass/style.scss */
.container .object-chapter h1, .container .object-chapter h2, .container .object-chapter h3 {
  font-size: 24px;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0px;
}
/* line 441, ../sass/style.scss */
.container .object-chapter h3 {
  margin-top: 20px;
  margin-bottom: 0px;
}
/* line 445, ../sass/style.scss */
.container .object-chapter p {
  font-size: 16px;
  font-size: 1rem;
  margin: 0px;
}
/* line 449, ../sass/style.scss */
.container .object-chapter a {
  color: black;
  display: inline-block;
  border-bottom: 1px solid white;
}
/* line 453, ../sass/style.scss */
.container .object-chapter a:hover {
  border-bottom: 1px dotted black;
}

/* line 460, ../sass/style.scss */
.checkbox input {
  display: none;
}
/* line 463, ../sass/style.scss */
.checkbox .case {
  background-color: #FFF;
  border: 1px solid #000;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
/* line 474, ../sass/style.scss */
.checkbox input:checked + .case:after {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background-color: #ff8040;
  position: absolute;
}

/* line 486, ../sass/style.scss */
.container {
  width: 100%;
  display: inline-block;
  padding: 40px;
  background-color: #efefef;
}
@media screen and (max-width: 480px) {
  /* line 486, ../sass/style.scss */
  .container {
    padding: 40px 0;
  }
}
/* line 494, ../sass/style.scss */
.container .object {
  position: relative;
  display: inline-block;
  padding: 40px;
  width: 100%;
  background-color: #FFF;
  margin-top: 40px;
}
/* line 501, ../sass/style.scss */
.container .object:first-child {
  margin-top: 0px;
}
/* line 504, ../sass/style.scss */
.container .object > p {
  font-size: 18px;
  font-size: 1.125rem;
  margin: 0;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 700;
  color: #ff8040;
}
/* line 512, ../sass/style.scss */
.container .object input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  position: absolute;
  top: 40px;
  right: 40px;
}
/* line 520, ../sass/style.scss */
.container .object .half-width > p {
  font-size: 18px;
  font-size: 1.125rem;
  margin: 0;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 700;
  color: #ff8040;
}
/* line 530, ../sass/style.scss */
.container .object .object-content {
  width: 100%;
  margin-top: 75px;
  display: inline-block;
}
/* line 534, ../sass/style.scss */
.container .object .object-content .table {
  width: 100%;
}
/* line 536, ../sass/style.scss */
.container .object .object-content .table .tr {
  height: 80px;
  width: 100%;
  margin-top: 20px;
}
/* line 540, ../sass/style.scss */
.container .object .object-content .table .tr .td {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
  height: 100%;
  text-align: center;
  border-left: 1px solid white;
  display: flex;
}
/* line 546, ../sass/style.scss */
.container .object .object-content .table .tr .td:first-child {
  border: 0;
}
/* line 549, ../sass/style.scss */
.container .object .object-content .table .tr .td span {
  color: #2a2a2a;
  font-size: 16px;
  font-size: 1rem;
  text-transform: uppercase;
  margin: auto;
  display: block;
}
/* line 555, ../sass/style.scss */
.container .object .object-content .table .tr .td span a {
  color: #2a2a2a;
  margin: auto;
  display: block;
}
/* line 562, ../sass/style.scss */
.container .object .object-content .table .tr.main-line {
  background-color: #3d3d3d;
}
/* line 564, ../sass/style.scss */
.container .object .object-content .table .tr.main-line span {
  color: white;
}
/* line 568, ../sass/style.scss */
.container .object .object-content .table .tr.line {
  border: 1px solid black;
}
/* line 571, ../sass/style.scss */
.container .object .object-content .table .tr:first-child {
  margin: 0;
}
/* line 576, ../sass/style.scss */
.container .object .object-content .bloc {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  color: black;
  border: 1px solid black;
  background-color: transparent;
  text-align: center;
  position: relative;
  -moz-transition: background-color, 0.35s, ease;
  -o-transition: background-color, 0.35s, ease;
  -webkit-transition: background-color, 0.35s, ease;
  transition: background-color, 0.35s, ease;
}
@media screen and (max-width: 768px) {
  /* line 576, ../sass/style.scss */
  .container .object .object-content .bloc {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 584, ../sass/style.scss */
  .container .object .object-content .bloc a {
    padding: 0;
  }
  /* line 588, ../sass/style.scss */
  .container .object .object-content .bloc:nth-child(2n+2) {
    margin-right: 0;
  }
}
/* line 593, ../sass/style.scss */
.container .object .object-content .bloc:hover {
  background-color: black;
}
/* line 595, ../sass/style.scss */
.container .object .object-content .bloc:hover * {
  color: white !important;
}
/* line 599, ../sass/style.scss */
.container .object .object-content .bloc:nth-child(4n+4) {
  margin-right: 0;
}
/* line 602, ../sass/style.scss */
.container .object .object-content .bloc a {
  overflow: hidden;
  padding: 20px;
  color: #2a2a2a;
  display: flex;
  text-decoration: none;
  height: 100%;
}
/* line 609, ../sass/style.scss */
.container .object .object-content .bloc a span {
  color: inherit;
  font-size: 16px;
  font-size: 1rem;
  text-transform: uppercase;
  margin: auto;
  display: block;
}
/* line 617, ../sass/style.scss */
.container .object .object-content .bloc .progression-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  border-top: 1px solid black;
  background-color: #818181;
}
/* line 625, ../sass/style.scss */
.container .object .object-content .bloc .progression-bar .completion {
  height: 100%;
  background-color: #00ccff;
}

/* line 634, ../sass/style.scss */
.half-width {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../node_modules/susy/sass/susy/output/support/_clearfix.scss */
.half-width:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 71, ../node_modules/susy/sass/susy/language/susy/_background.scss */
head:hover ~ .half-width, head:hover ~ body .half-width {
  position: relative;
}
/* line 74, ../node_modules/susy/sass/susy/language/susy/_background.scss */
head:hover ~ .half-width:before, head:hover ~ body .half-width:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2NmY2ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YxYjBiMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e66f6f), color-stop(100%, #f1b0b0));
  background-image: -moz-linear-gradient(left, #e66f6f, #f1b0b0);
  background-image: -webkit-linear-gradient(left, #e66f6f, #f1b0b0);
  background-image: linear-gradient(to right, #e66f6f, #f1b0b0);
  background-size: 8.33333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}
/* line 636, ../sass/style.scss */
.half-width .profil {
  font-size: 24px;
  font-size: 1.5rem;
  color: #2a2a2a;
  font-weight: 400;
}
/* line 640, ../sass/style.scss */
.half-width .profil p {
  text-decoration: none;
  color: #2a2a2a;
  font-weight: 400;
}
/* line 645, ../sass/style.scss */
.half-width .profil .user-profil {
  border-bottom: 1px solid black;
  margin-bottom: 80px;
}
/* line 648, ../sass/style.scss */
.half-width .profil .user-profil h2 {
  font-size: 48px;
  font-size: 3rem;
  margin: 0 0 20px 0;
}
/* line 652, ../sass/style.scss */
.half-width .profil .user-profil p {
  margin-bottom: 80px;
}
/* line 657, ../sass/style.scss */
.half-width .profil .user-details p {
  margin: 20px 0;
}
/* line 660, ../sass/style.scss */
.half-width .profil .user-details ul {
  width: 100%;
  padding: 0;
  list-style: none;
  display: inline-block;
  margin: 0;
}
/* line 666, ../sass/style.scss */
.half-width .profil .user-details ul li {
  margin-bottom: 40px;
}
/* line 668, ../sass/style.scss */
.half-width .profil .user-details ul li:last-child {
  margin: 0;
}
/* line 671, ../sass/style.scss */
.half-width .profil .user-details ul li a {
  text-transform: uppercase;
  color: #2a2a2a;
  display: flex;
  height: 80px;
  width: 100%;
  border: 1px solid black;
}
/* line 678, ../sass/style.scss */
.half-width .profil .user-details ul li a span {
  display: block;
  margin: auto;
}
/* line 682, ../sass/style.scss */
.half-width .profil .user-details ul li a:hover {
  background-color: #c1c1c1;
}
/* line 690, ../sass/style.scss */
.half-width .cours {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 36px;
  color: #2a2a2a;
  font-weight: 400 !important;
}
/* line 695, ../sass/style.scss */
.half-width .cours .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
/* line 701, ../sass/style.scss */
.half-width .cours .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 708, ../sass/style.scss */
.half-width .cours h2 {
  line-height: normal;
  font-size: 48px;
  font-size: 3rem;
  margin: 0 0 40px 0;
}
/* line 713, ../sass/style.scss */
.half-width .cours a, .half-width .cours p {
  text-decoration: none;
  color: #2a2a2a;
}
/* line 717, ../sass/style.scss */
.half-width .cours ul {
  width: 100%;
  padding: 0;
  list-style: none;
  display: inline-block;
  margin: 0;
}
/* line 723, ../sass/style.scss */
.half-width .cours ul li {
  margin-bottom: 40px;
}
/* line 725, ../sass/style.scss */
.half-width .cours ul li:last-child {
  margin: 0;
}
/* line 728, ../sass/style.scss */
.half-width .cours ul li a {
  text-transform: uppercase;
  color: #2a2a2a;
  display: flex;
  height: 80px;
  width: 100%;
  border: 1px solid black;
}
/* line 735, ../sass/style.scss */
.half-width .cours ul li a span {
  display: block;
  margin: auto;
}
/* line 739, ../sass/style.scss */
.half-width .cours ul li a:hover {
  background-color: #c1c1c1;
}
/* line 746, ../sass/style.scss */
.half-width .cours .cours-content * {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

/* line 753, ../sass/style.scss */
#loadMore {
  display: flex;
  width: 100%;
  margin: auto;
  height: 80px;
  cursor: pointer;
  border: 1px solid black;
}
/* line 760, ../sass/style.scss */
#loadMore span {
  color: typo-color01;
  font-weight: 700;
  margin: auto;
  display: block;
}

/* line 767, ../sass/style.scss */
footer {
  font-size: 12px;
  font-size: 0.75rem;
  width: 100%;
  padding: 40px;
}
/* line 771, ../sass/style.scss */
footer .liens {
  width: 100%;
  display: inline-block;
}
/* line 774, ../sass/style.scss */
footer .liens span {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  text-transform: uppercase;
  color: white;
  font-size: 72px;
  font-size: 4.5rem;
  line-height: 60px;
  font-weight: 700;
  min-width: 300px;
}
/* line 783, ../sass/style.scss */
footer .liens ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 0;
}
/* line 787, ../sass/style.scss */
footer .liens ul.l1 li a {
  color: #9e9e9e;
}
/* line 792, ../sass/style.scss */
footer .liens ul.l2 li a {
  color: #6e6e6e;
}
/* line 796, ../sass/style.scss */
footer .liens ul li {
  margin-right: 20px;
  display: inline;
  height: 100%;
}
/* line 800, ../sass/style.scss */
footer .liens ul li a {
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 804, ../sass/style.scss */
footer .liens ul li a:hover {
  border-bottom: 1px dotted;
}
/* line 811, ../sass/style.scss */
footer .foot-form {
  margin-top: 40px;
}
/* line 813, ../sass/style.scss */
footer .foot-form p {
  font-size: 18px;
  font-size: 1.125rem;
  margin: 0;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 700;
  color: #818181;
}
/* line 821, ../sass/style.scss */
footer .foot-form input {
  padding: 6px;
  margin-top: 40px;
  background-color: #818181;
  outline: 0;
  height: 60px;
  max-width: 600px;
  width: 100%;
  border: 0;
  display: block;
  padding: 10px;
}
/* line 833, ../sass/style.scss */
footer .foot-form button {
  width: 240px;
  height: 60px;
  background-color: #3d3d3d;
  border: 1px solid white;
  margin-top: 40px;
  color: white;
}
/* line 840, ../sass/style.scss */
footer .foot-form button:hover {
  color: #3d3d3d;
  background-color: white;
}
/* line 846, ../sass/style.scss */
footer p.rights {
  color: #b0b0b0;
  margin-top: 80px 0 0 0;
}
/* line 849, ../sass/style.scss */
footer p.rights span {
  color: #7f7f7f;
}
