{% extends "SMMIIndexBundle::layout.html.twig" %}

{% block smmiindex_cours %}
    <div class="object">
        <p>Cours</p>
        <div class="object-content">
            <div class="table">
                <div class="tr main-line">
                    <div class="td"><span>Cours</span></div>
                    <div class="td"><span>Progression</span></div>
                    <div class="td"><span>Dernière action</span></div>
                </div>
                <div class="tr line">
                    <div class="td"><span><a href="#">Cours</a></span></div>
                    <div class="td"><span>Progression</span></div>
                   <!-- <div class="td"><span>Dernière action</span></div>-->
                </div>
                <div class="tr line">
                    <div class="td"><span><a href="#">Cours</a></span></div>
                    <div class="td"><span>Progression</span></div>
                    <div class="td"><span>Dernière action</span></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block smmiindex_dernierscours %}
    <div class="object">
        <p>Dernier cours publiés</p>
        <div class="object-content">
            <div class="bloc">
                <a href="#">
                    <span>Maths</span>
                </a>
            </div>
            <div class="bloc">
                <a href="#">
                    <span>Maths</span>
                </a>
            </div>
            <div class="bloc">
                <a href="#">
                    <span>Maths</span>
                </a>
            </div>
            <div class="bloc">
                <a href="#">
                    <span>Maths</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}