{# src/SMMI/QuizzBundle/Resources/views/Quizz/index.html.twig #}

<!doctype html>
<html class="no-js" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Quizz {{ slug }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Quizz {{ slug }}</h1>

</body>
</html>
