{% extends "SMMIBackOfficeBundle::layout.html.twig" %}

{% block smmibackoffice_liste %}
    <a href="{{ path('smmi_backoffice_add') }}">Ajouter un cours</a>
    <p>Work in progress ...</p>
{% endblock %}
